In [83]:
print('hello, how are you?')

hello, how are you?

In [13]:
x = 5
y = 7
print(x,y)
#print(5+11)

5 7

In [30]:
x="hi"
y="hello"
print(x , y)

hi hello

In [24]:
x = float(3)
type(x)
#print(x)

float

In [4]:
#casting
x=int(3)  #int data type
y=str("is not greater than")  #string data type
z=float(5.6)  #float data type
print(x,y,z)

3 is not greater than 5.6

In [5]:
#getting type 
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [53]:
x = int(3.2)
type(x)

int

In [40]:
x = str(34.9)
type(x)

'34.9'

In [44]:
y = int('62')
type(y)

ValueError: invalid literal for int() with base 10: '6  2'

In [31]:
a,b,c="hi","hello!","bye"
#print(a,b,c)
#print(b)
#print(c)
type(a)

str

In [57]:
a=b=c="good boy"
print(c,a,b)

good boy good boy good boy

In [60]:
#unpacking a collection
fruits = ["apple", "banana", "cherry"]
#x, y, z = fruits
#print(x)
#print(y)
#print(z)
type(fruits)

list

In [61]:
print(fruits)

['apple', 'banana', 'cherry']

In [62]:
for i in fruits:
    print(i)

apple
banana
cherry

In [71]:
fruits.remove('o')
fruits

['apple', 'banana', 'cherry']

In [82]:
colr = ['green','red']

In [75]:
print(colr.extend(fruits))

None

In [77]:
del colr

In [79]:
fruits

['apple', 'banana', 'cherry']

In [81]:
colr

['green', 'red']

In [84]:
colr.append(fruits)

In [86]:
colr.reverse()

In [87]:
colr ##append

[['apple', 'banana', 'cherry'], 'red', 'green']

In [89]:
colr.remove(fruits)

In [90]:
colr

['red', 'green']

In [91]:
colr.extend(fruits)

In [92]:
colr ##extend

['red', 'green', 'apple', 'banana', 'cherry']

In [93]:
colr.clear()

In [101]:
type(tuple(colr))
#type(y)

tuple

In [9]:
a="DR"
print("my name is " +a)

my name is DR

In [10]:
a="my name is "
b="DR"
c=a+b
print(c)

my name is DR

In [11]:
#arithmetic operations
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

In [12]:
#global variables
x="DR"
def myname():
    print("my name is " +x)
myname()

my name is DR

In [13]:
x = "awesome"
def myfunc():
    x = "fantastic"
    print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

In [16]:
#data types
x=1j
print(type(x))

<class 'complex'>

In [18]:
#type conversion
x=3+5j
y=-5.99
z=-35
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'float'>
<class 'int'>

In [19]:
a=float(z)
b=int(y)
c=complex(z)
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

In [20]:
#random number
import random
print(random.randrange(1,1000))

876

In [23]:
#casting number is same as type conversion in numbers
x=int(9.33)
y=float(3)
z=complex(5.55)
print(type(x))
print(type(y))
print(type(z))
#cannot convert complex into int

<class 'int'>
<class 'float'>
<class 'complex'>

In [28]:
#strings #multilines
my_intro="""my name is dinesh,
i am 21 years old,
i am an undergraduate."""
print(my_intro)

my name is dinesh,
i am 21 years old,
i am an undergraduate.

In [29]:
#strings are arrays
print(my_intro[0])
print(my_intro[6])
print(my_intro[12])

m
e
i

In [30]:
print(my_intro[2])  #white spaces are included

In [105]:
#looping through strings
for jp in "dinesh rajan":
    print(jp)

d
i
n
e
s
h

r
a
j
a
n

In [32]:
#string length
print(len(i))

1

In [33]:
print(len(my_intro))

60

In [34]:
#checking in string
print("dinesh" in my_intro)

True

In [35]:
print(my_intro[11:17])

dinesh

In [36]:
print(my_intro.upper())

MY NAME IS DINESH,
I AM 21 YEARS OLD,
I AM AN UNDERGRADUATE.

In [37]:
print(my_intro.lower())

my name is dinesh,
i am 21 years old,
i am an undergraduate.

In [38]:
print(my_intro.strip()) #removes white spaces

my name is dinesh,
i am 21 years old,
i am an undergraduate.

In [40]:
print(my_intro.replace("dinesh","sathish"))  #replacing string

my name is sathish,
i am 21 years old,
i am an undergraduate.

In [41]:
print(my_intro.split(","))

['my name is dinesh', '\ni am 21 years old', '\ni am an undergraduate.']

In [42]:
#format strings
age=21
text="my name is JP and i am {}"
print(text.format(age))

my name is JP and i am 21

In [43]:
quantity=3
item="dairy milk"
price=150
text="i want {} pieces of {} for ₹ {} "
print(text.format(quantity,item,price))

i want 3 pieces of dairy milk for ₹ 150

In [44]:
print(text)

i want {} pieces of {} for ₹ {}

In [45]:
name="my name is \"dinesh rajan\" "

In [46]:
name

'my name is "dinesh rajan" '

In [1]:
l1=[1,2,3,4]
print(l1)
#insert
l1.insert(1,7)
print(l1)

[1, 2, 3, 4]
[1, 7, 2, 3, 4]

In [1]:
import torch

In [2]:
print(torch.__version__)
x = torch.rand(2,3)
print(x)

1.8.1+cpu
tensor([[0.0076, 0.3754, 0.5137],
        [0.4501, 0.2021, 0.8563]])

In [118]:
s='i am dinesh      '

In [108]:
len(s)

11

In [109]:
s.upper()

'I AM DINESH'

In [110]:
s.lower()

'i am dinesh'

In [111]:
s.capitalize()

'I am dinesh'

In [112]:
s.casefold()

'i am dinesh'

In [119]:
s.strip()

'i am dinesh'